
@{
    ViewBag.Title = "Estética";
}

<!-- === BEGIN CONTENT === -->
<div class="primary-container">
    <div class="container no-padding">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <!-- Main Content -->
            <br />
            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-10">
                        <h2>Estética</h2>
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/aesthetics/image.png" alt="responsive screens">
                            <br />
                            <br />
                            <br />
                            <h3 class="item-title">
                                Depilação
                            </h3>
                            Com toda segurança e qualidade no uso de materiais descartáveis e ambiente esterilizado para depilação, que pode ser feita com cera quente ou roll on, dois métodos eficazes para retirada de pêlo, retardando o crescimento e mantendo sua pele macia por mais tempo.<br />
                            <br />
                            Realizamos também depilação artística
                        </p>
                    </div>
                    <div class="col-md-12 margin-top-10">
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/aesthetics/image_02.png" alt="responsive screens">
                            <br />
                            <br />
                            <h3 class="item-title">
                                Estética Facial
                            </h3>
                            - Limpeza de pele<br />
                            - Maquiagem definitiva<br />
                            - Sobrancelha<br />
                            - Contorno de olhos e boca<br />
                            - Design de sombrancelha<br />
                            - Sobrancelha de henna<br />
                            - Permanente de cílios<br />
                            - Cílios fio à fio
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
        </div>
    </div>
</div>

