
@{
    ViewBag.Title = "Cabelo";
}

<!-- === BEGIN CONTENT === -->
<div class="primary-container">
    <div class="container no-padding">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <!-- Main Content -->
            <br />
            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-10">
                        <h2>Cabelo</h2>
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/hair/image.png" alt="responsive screens">
                            <img class="animate fadeInRight" style="float: left;" src="~/Content/LandingPage/assets/img/hair/image2.png" alt="responsive screens">
                        </p>
                    </div>
                    <div class="col-md-12 margin-top-10">
                        <p>
                            <h3 class="item-title">
                                Alongamento
                            </h3>
                            O alongamento de cabelos é ideal para mulheres que desejam ter cabelos longos, mas possuem cabelos muito finos e ralos (sem volume), ou estão com os cabelos curtos. O alongamento de cabelos dá a possibilidade de ter cabelos longos com bom volume e aparência natural.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Escova Definitiva
                            </h3>
                            A escova definitiva é uma técnica revolucionária que modifica a estrutura dos fios e alisa os cabelos. Eles são tratados com produtos específicos à base de tioglicolato de amônia com efeito termoativo. É como se fosse uma cirurgia plástica nos cabelos, mudando a estrutura dos fios, dando mais brilho, mais balanço, mais caimento e aspecto natural de liso e não de alisado.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Escova Americana
                            </h3>
                            O Sistema de Relaxamento usado na Escova Americana à base de Guanidina, utiliza utiliza óleos especiais de frutas provenientes da biodiversidade da floresta Amazônica.A extração é realizada de modo ecológico, com responsabilidade e colabora para desenvolvimento sustentável da região. A técnica é indicada para cabelos crespos, ondulados e sem forma definida.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Relaxamento
                            </h3>
                            Transforma cabelos volumosos em cabelos levemente lisos, com aspecto natural. O processo tem como base tioglicolato de amônia, guanidina e sódio tendo o efeito duração média de quatro meses, dependendo de cada tipo de cabelo.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Cauterização
                            </h3>
                            A cauterização é uma hidratação profunda que sela as escamas dos fios e suaviza as pontas duplas, o que permite eliminar o aspecto arrepiado dos cabelos.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Queda de Cabelo
                            </h3>
                            Conheça as técnicas de tratamento para parar a queda de cabelos de uma forma natural, ficando com mais cabelos, mais saudáveis e mais fortes.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Penteados
                            </h3>
                            Seja qual for o desejo ou evento para qual a cliente se prepara, haverá sempre opções criativas que incorporam tendências e destacam beleza e estado de espírito.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
        </div>
    </div>
</div>

