
@{
    ViewBag.Title = "Maquiagem";
}

<!-- === BEGIN CONTENT === -->
<div class="primary-container">
    <div class="container no-padding">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <!-- Main Content -->
            <br />
            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-10">
                        <h2>Maquiagem</h2>
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/make_up/image.png" alt="responsive screens">
                            <h3 class="item-title">
                                Maquiagem definitiva
                            </h3>
                            Diz respeito à técnica de micropigmentação, que consiste na aplicação de pigmentos hipoalérgicos e orgânicos da pele, com o objetivo de substituir o uso de maquiagem e disfarçar imperfeições em algumas áreas do rosto.
                            <br/>
                            <br />
                            <h3 class="item-title">
                                Design de Sobrancelha
                            </h3>
                            A profissional Design de Sobrancelha utiliza uma técnica inovadora que transforma a face, pois ela dá o modelo ideal para cada rosto, buscando a harmonia com base em conceitos de visagismo.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Henna de Sobrancelha
                            </h3>
                            Pode ser utilizada para a correção de falhas com a tintura de henna (pigmento natural extraído de casca de árvores). O efeito dura cerca de 20 dias e pode ser refeito sempre que preciso.
                            <br />
                            <br />
                            <h3 class="item-title">
                                Permanente e Tintura de Cílios
                            </h3>
                            A técnica permite acentuar a curvatura natural dos cílios, o que proporciona uma maior expressividade e luminosidade ao olhar.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
        </div>
    </div>
</div>

