
@{
    ViewBag.Title = "Manicure";
}

<!-- === BEGIN CONTENT === -->
<div class="primary-container">
    <div class="container no-padding">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <!-- Main Content -->
            <br />
            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-10">
                        <h2>Manicure e Pedicure</h2>
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/manicure/image.png" alt="responsive screens">
                            <br />
                            Beleza é sempre fundamental, mas nossa saúde deve estar em primeiro lugar.<br />
                            <br />
                            Portanto, é importante estar sempre atento as condições de higiene em cada procedimento executado pela profissional.<br />
                            <br />
                            Se os métodos forem executados sem a devida higiene, os riscos de contaminação é alto.<br />
                            <br />
                            No Zion oferecemos:<br />
                            Kits descartáveis (lixas, palitos e toalhas)<br />
                            Materiais esterilizados em auto clave de acordo com as recomendações da ANVISA.<br />                            
                            Profissionais utilizam luvas descartáveis.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
        </div>
    </div>
</div>