
@{
    ViewBag.Title = "Podologia";
}

<!-- === BEGIN CONTENT === -->
<div class="primary-container">
    <div class="container no-padding">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <!-- Main Content -->
            <br />
            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-10">
                        <h2>Podologia</h2>
                        <p>
                            <img class="animate fadeInLeft" style="float: left;" src="~/Content/LandingPage/assets/img/podiatry/image.png" alt="responsive screens">
                            Nossa podóloga é uma excelente profissional, formada pelo SENAC. Nosso lema não é trabalhar por produção e sim com qualidade, passando um tempo maior com nossos clientes.
                            <br />
                            <br />
                            Orientação sobre micoses<br />
                            Unha encravada e infeccionada<br />
                            Calos e calosidades<br />
                            Verruga plantar (olho de peixe)<br />
                            Ortése<br />
                            Reflexologia
                            <br />
                            <br />
                            Se os métodos forem executados sem a devida higiene, os riscos de contaminação é alto.
                            <br />
                            <br />
                            No Zion oferecemos:
                            <br />
                            Kits descartáveis (lixas, palitos e toalhas)
                            <br />
                            Materiais esterilizados em auto clave de acordo com as recomendações da ANVISA.
                            <br />
                            Profissionais utilizam luvas descartáveis.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
        </div>
    </div>
</div>

